html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;
}

.site-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #117a8b
}

.site-header{
	background-color: #117a8b;
	padding: 10px 0;
}

.site-nav{
	background-color: #eee;
	padding: 5px 0;
}

.site-content{
	padding: 10px 0;
}

ul > li {
	display: flow-root;
}

.contacst {
	color: #000;
	display: flex;
	justify-content: space-between;
}

.navbar {
	display: flex;
}

.navtwo {
	width: 20%;

	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: row;
}

.navtwo > * {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 8px 8px;
}

.navtwoitem {
	pointer-events: stroke;
	color: #007BFF;
}

.logbtn {
	color: #000;
	border: #000 solid 2px;
	padding: 4px 12px;
	border-radius: 10px;
	margin-left: 20px;

	transition: .4s ease-in-out;
}

.logbtn:hover {
	color: #fff;
	background-color: #000;
}

.log {
	height: 100%;
}

.flexh__leb {
	/* meme class name hihihaha */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.reg {
	padding: 40px 0px;
	width: 500px;
	margin: 0px auto;
}

.regform {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

label {
	margin: 15px 0px 10px 0px;
}

.submit__btn {
	margin-top: 20px;
}

.form-edit {
	font-weight: bold;
}

.users {
	margin: 0px;
	width: 100%;
}

tr {
	width: 100%;
	border: 2px solid #4477be;
	background: #ccdeff;
}

td, th {
	padding: 15px 10px;
	border: 2px solid #4477be;
	text-align: center;
}

tr:nth-child(2n) {
	background: #ccffff;
}

table {
	width: 100%;
}

.btn {
	color: #fff;
}

.btn:not(:last-child) {
	margin-right: 15px;
}

.del {
	border: 2px solid red;
	background: red;
}

.del:hover {
	color: red;
	background: none;
}

.up {
	border: 2px solid green;
	background: green;
}

.up:hover {
	color: green;
	background: none;
}

.down {
	border: 2px solid orangered;
	background: orangered;
}

.down:hover {
	color: orangered;
	background: none;
}

.disagree {
	border: 2px solid #f3a13b;
	background: #f3a13b;
}

.disagree:hover {
	color: #f3a13b;
	background: none;
}

.pages {
	margin: 40px 0px;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}

.pageButton {
	width: 40px;
	height: 40px;
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
	background: #4477be;
	color: #fff;
	border: 2px solid #4477be;
	transition: .4s ease-in-out;
}

.pageButtonCurrent {
	background: #7144be;
	border: 2px solid #7144be;
}

.pageButton:hover {
	color: #000;
	background: none;
}

.controButton {
	padding: 5px 10px;
	border-radius: 5px;
	text-align: center;
	background: #4477be;
	color: #fff;
	border: 2px solid #4477be;
	transition: .4s ease-in-out;
}

.controButton:hover {
	color: #000;
	background: none;
}

.control {
	padding-bottom: 20px;
}

.changeForm {
	padding: 20px 0;
}

.admin {
	background: #4477be;
	color: white;
	border-radius: 5px;
}

.admin::before {
	content: "admin : ";
}

.manager {
	background: #7f44be;
	color: white;
	border-radius: 5px;
}

.manager::before {
	content: "manager : ";
}

.changeForm {
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-radius: 10px;
	border: 1px solid #4477be;
	text-align: center;
	margin: 40px 0;
}

.changeForm > button {
	color: white;
	border-radius: 5px;
	border: 2px solid #4477be;
	background: #4477be;
	transition: .4s ease-in-out;
}

.changeForm > label {
	margin: 0;
}

.changeForm > button:hover {
	background: none;
	color: #4477be;
}
ul, ol, li {
	list-style-type: none;
}

.oppor > td, th {
	max-width: 40px;
	font-size: 8px;
	flex-wrap: wrap;
}

.opporTrue {
	border: 2px solid #000;
	background-color: #1bf63b;
}

.opporFalse {
	border: 2px solid #000;
	background-color: #f61b2d;
}

.userLink {
	color: #000;
	transition: .4s ease-in-out;
	padding: 10px 5px;
	border-radius: 10px;
}

.userLink:hover {
	color: #fff;
	background-color: #000;
}

pre {
	overflow-y: hidden;
}

.profile {
	font-size: 26px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.actions {
	font-size: 15px;
	padding: 15px 5px;
	border-radius: 15px;
	border: 1px solid #252525;
	width: 280px;
	position: relative;
}

.actions > div {
	position: relative;
	display: flex;
	justify-content: space-between;
	z-index: 2;
}

.actions > div > div {
	background-color: #fff;
}
.actions > div > div:first-child:after {
	content: "";
	position: absolute;
	left: 0;
	top: 12px;
	border: none;
	border-top: 1px dotted #252525;
	color: #fff;
	background-color: #fff;
	width: 100%;
	height: 3px;
	z-index: -1;
}

.act {
	width: 100px;
	background: #fff;
	position: absolute;
	left: 50%;
	top: -15px;
	font-size: 20px;
	display: flex;
	justify-content: center;
	border: 1px solid #252525;
	text-transform: uppercase;
}